<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desafio técnico da Tunts.Rocks</title>
  </head>
  <link rel="stylesheet" type="text/css" href="index.css" media="screen" />
  <body>
    <h1 class="title">Desafio técnico da Tunts.Rocks</h1>

    <div class="card">
      <form action="" method="POST">
        <button class="button" type="submit">
          Calcular a situação de cada aluno
        </button>
      </form>
    </div>

    <style>
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .card {
        align-items: center;
        background-image: linear-gradient(
          90deg,
          #f3d438 35%,
          hsl(60, 64%, 69%)
        );
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: flex;
        margin: auto;
        max-width: 1000px;
        padding: 20px;
        justify-content: center;
        width: 100%;
      }

      .button {
        background-color: #eee8aa;
        border-radius: 8px;
        padding: 12px 16px;
        color: black;
        border: none;
        font-weight: 700;
        font-size: 1em;
        font-family: "Public Sans", sans-serif;
        line-height: 19px;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .button:hover {
        background-color: #ffe4e1;
      }
    </style>
  </body>
</html>
